.img-thumbnails {
    height: calc(800px / 5);
    cursor: pointer;
}

.img-carousel {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.fa-solid {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 50%;
    padding: 20px;
}

.col-4 {
    position: relative;
}

.next {
    position: absolute;
    top: 5px;
    right: 45%;
    cursor: pointer;
}

.prev {
    position: absolute;
    bottom: 5px;
    right: 45%;
    cursor: pointer;
}

.active {
    border: 10px solid grey;
}


.relative {
    position: relative;
}

.descriptionCarousel {
    position: absolute;
    bottom: 10px;
    left: 300px;
}